<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>虚拟音乐节</title>
  <style>

  </style>
  <link rel="stylesheet" href="./src/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body>
  <canvas id="canvas" class="stream unselect"></canvas>
  <div id="app">
    <div class="animation_list" v-if="animations.length && showAnimation">
      <button class="animation_list-item" v-for="item in animations" @click="playAnimation(item)">{{ item }}</button>
    </div>
    <minimap v-show="showMinimap" :current-area="currentArea" @select="handleMinimapSelect" @close="showMinimap = !showMinimap"></minimap>
    <div class="function_control_btns" v-cloak>
      <template v-if="!isInPhotoBooth">
        <button @click="startPlayRain">开启红包雨</button>
        <button @click="toggleDisco">{{isInDisco?'离开迪厅':'前往迪厅'}}</button>
        <button @click="toggleLiveHall">{{isInLiveHall?'离开直播厅':'前往直播厅'}}</button>
        <button @click="toggleComponentsPanel">换装</button>
        <button @click="toggleShowAnimation">互动</button>
        <button @click="showMinimap = !showMinimap">{{showMinimap ? '关闭' : '打开'}}小地图</button>
        <button @click="toggleMotionType(motionType == 0 ? 1 : 0)">移动：{{motionType == 0 ? '走' : '跑'}}</button>
        <button @click="setPerson(person == 1 ? 0 : 1)">第{{person == 1 ? '一' : '三'}}人称</button>
        <button @click="toggleBox('left')">{{isInBox?"离开左包厢":"前往左包厢"}}</button>
        <button @click="toggleBox('right')">{{isInBox?"离开右包厢":"前往右包厢"}}</button>
      </template>
      <button @click="togglePhotoBooth" v-if="isInPhotoBooth">{{"退出拍照模式"}}</button>
      <template v-if="isInPhotoBooth">
        <button @click="setShots('long')" :class="currentShot==='long'?'active':''">远景</button>
        <button @click="setShots('medium')" :class="currentShot==='medium'?'active':''">中景</button>
        <button @click="setShots('close')" :class="currentShot==='close'?'active':''">近景</button>
        <button @click="takePhoto">拍照</button>
      </template>
    </div>

    <components-panel :components="components" :current-components="avatarComponents" v-if="showComponentsPanel" @close="toggleComponentsPanel">
    </components-panel>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
  <script type="module" src="./src/app.ts"></script>
</body>

</html>
