<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>虚拟音乐节</title>
  <style>

  </style>
  <link rel="stylesheet" href="./src/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body>
  <canvas id="canvas" class="stream unselect"></canvas>
  <div id="app">
    <div class="animation_list" v-if="animations.length && showAnimation">
      <button class="animation_list-item" v-for="item in animations" @click="playAnimation(item)">{{ item }}</button>
    </div>
    <div class="function_control_btns" v-cloak>
      <template v-if="!isInPhotoBooth">
        <button @click="toggleShowAnimation">互动</button>
      </template>
      <button @click="togglePhotoBooth">{{!isInPhotoBooth?"进入拍照模式":"退出拍照模式"}}</button>
      <template v-if="isInPhotoBooth">
        <button @click="setShots('long')" :class="currentShot==='long'?'active':''">远景</button>
        <button @click="setShots('medium')" :class="currentShot==='medium'?'active':''">中景</button>
        <button @click="setShots('close')" :class="currentShot==='close'?'active':''">近景</button>
        <button @click="takePhoto">拍照</button>
        <!-- <template v-for="item in animations">
          <button class="animation_list-item" v-if="item.startsWith('PHOTO')" @click="playAnimation(item)">{{ item }}</button>
        </template> -->
      </template>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
  <script type="module" src="./src/app.ts"></script>
</body>

</html>
