html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  user-select: none;
}

* {
  -webkit-touch-callout:none; /*系统默认菜单被禁用*/
  -webkit-user-select:none; /*webkit浏览器*/
  -khtml-user-select:none; /*早期浏览器*/
  -moz-user-select:none;/*火狐*/
  -ms-user-select:none; /*IE10*/
  user-select:none!important;
  -webkit-tap-highlight-color: transparent!important;
}

.unselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent!important;
}

[v-cloak] {
  display: none;
}
  body,
  html {
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
  }
  .mask-img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .mask-img img{
    height: 100%;
    flex-shrink: 0;
  }
  .stream {
    width: 100%;
    height: 100%;
  }
  #bornPic {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    object-fit:cover;
  }
  .screen_shot_img{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
  }
  .screen_shot_img >button {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .screen_shot_img img{
    width: 100%;
    height: 100%;
  }

.footer {
  height: 60px;
  display: flex;
  position: fixed;
  bottom: 0;
  background: #fff;
  opacity: 0.8;
  width: 100%;
  border-top: 1px solid #777a74;
}

.footer .back_default_view,
.footer .send_gift,
.footer .play_cg {
  display: flex;
  flex: 1;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.footer .back_default_view,
.footer .play_cg {
  border-right: 1px solid #777a74;
}
.dress_list {
  position: absolute;
  top: 0;
  right: 10px;
  opacity: 0.8;
  background: #fff;
  height: 100vh;
  overflow: auto;
  width: 220px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.dress_list-swiper {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  flex-direction: column;
  overflow-x: hidden;
}
.dress_list-item .active{
  color:#015ce3;
}
.dress_list-item.active{
  color:#015ce3;
}
.dress_list-item {
  padding: 0 6px;
  border-right: 1px solid #ccc;
  margin-right: 10px;
}
.dress_list-item >span {
  font-weight: 600;
  background-color: #4ce6f1;
  width: 100%;
  display: inline-block;
}


.gifts_list {
  position: fixed;
  bottom: 60px;
  background: #fff;
  opacity: 0.8;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.gifts_list .menu {
  display: flex;
  margin-bottom: 10px;
}

.gifts_list .menu .menu_item {
  padding: 0 6px;
}

.gifts_list .detail {
  display: flex;
  justify-content: center;
  position: relative;
}

.gifts_list .detail img {
  width: 100%;
}

.gifts_list .detail button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
}

/* #guitar{
    display: none;
} */

#share {
  position: absolute;
  top: 10px;
  left: 10px;
}

.debug_control_btns,.function_control_btns,.screen_shot_btns,.animation_list{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  left: 10px;
  width: 110px;
  flex-wrap: nowrap;
  max-height: calc(100% - 160px);
  overflow: auto;
}
.debug_control_btns > *,.function_control_btns >*,.screen_shot_btns>*, .animation_list >*{
  margin-bottom: 1px;
  height: 25px;
}
.function_control_btns{
  left: auto;
  right: 10px;
}
.function_control_btns > .active{
 color: blue;
}

.roomd-id {
  position: fixed;
  opacity: 0.5;
  top: 0px;
  color: white;
}

.user-id {
  top: 20px;
}

.control-panel .phoenix_icon{
  width: 56px;
  height: 56px;
  position: fixed;
  bottom: 20px;
  left: 34px;
  display: none;
}

.control-panel .jump_icon{
  width: 80px;
  height: 80px;
  user-select: none;
  position: fixed;
  bottom: 20px;
  right: 34px;
}
.control-panel .run_icon,.control-panel .walk_icon{
  width: 57px;
  height: 84px;
  user-select: none;
  position: fixed;
  bottom: 20px;
  right: 34px;
  transform: scale(0.8);
}

.control-panel button {
  width: 80px;
  margin: 0 20px;
  height: 40px;
}

.minimap {
  position: fixed;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  background: #fff;
  padding: 10px 0;
}

.minimap .close-button {
  position: absolute;
  right: 10px;
  top: 0px;
}

.area_list {
  display: flex;
}

.area_list .active-flag {
  font-size: 12px;
  color: burlywood;
}
.minimap button {
  margin-top: 10px;
}

.area_list .area_list-item {
  height: 60px;
  background-color: #53574f;
  color: #fff;
  margin: 2px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.animation_list,.screen_shot_btns {
  right: 120px;
  left: auto;
  flex-wrap: nowrap;
  max-height: 60vh;
  overflow: auto;
}

.animation_list-item {
  /* padding: 6px; */
  overflow: hidden;
  flex-shrink: 0;
}


.gift-modal {
  position: fixed;
  width: 300px;
  margin: 0 auto;
  background: white;
  top: 100px;
  transform: translateX(-50%);
  left: 50%;
}


.gift-modal .gift-image img {
  width: 100%;
}

.back_to_default{
  position: absolute;
  top: 40%;
  background: #fff;
  padding: 4px;
  border-radius: 2px;
  display: none;
  font-size: 14px;
}
.back_to_default.left{
  left: 0;
  display: block;
}
.back_to_default.right {
  right: 0;
  display: block;
}
.camera_following{
  position: absolute;
  top: 20%;
  background: #fff;
  padding: 4px;
  border-radius: 2px;
  font-size: 14px;
}
#loading,#vertical-notice{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 9999;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  flex-direction: column;
  background: rgba(51, 51, 51, 0.8);
}

#loading img,#vertical-notice img {
  width: 108px;
  margin-bottom: 20px;
  display: inline-block;
}

.wx-button {
  position: absolute;
  top: 50%;
  left:  50%;
  transform: translate(-50%, -50%);
}
